.fas__discount {
    display: flex;
    flex-direction: row;
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.fas__discount-img{
    display: flex;
    align-content: flex-end;
    margin-left: -5rem;
}

.fas__discount-img img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.fas__discount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fas__discount-content h1 {
    font-size: 40px;
    word-spacing: .5rem;
}

.fas__discount-content h1 span {
    background: #FFFFFF;
}

.fas__discount-content p{
    margin-top: 1rem;
    font-size: 20px;
}

.fas__discount-content p .termsCondition {
    font-size: 10px;
}

.fas__discount-content button {
    color: #fff;
    background: #000000;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .fas__discount-content h1 {
        font-size: 25px;
        word-spacing: .5rem;
    }
    
    .fas__discount-content p{
        margin-top: 1rem;
        font-size: 10px;
    }    

    .fas__discount-content p .termsCondition {
        font-size: 5px;
    }
    
}